

.giglist>.gigs .gig .gigpic>img.expand-image {
    width:100vw;
    height: 100vh;
    max-width:100vw;
    max-height:100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    object-fit:contain;
    z-index:3000;
}

.giglist {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.49;
}


.giglist {
    background-color: whitesmoke;
}

.giglist * {
    box-sizing: border-box;
}



.giglist {
    margin: 0 auto;
    max-width: 96vw;
}

.giglist>.gigs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
    color: black;
}

.gigpic>img {
    width: var(--pic-width);
    max-width: 100%;
}
.gig>div {
    width: var(--pic-width);
    object-fit: contain;
}

.giglist.align-bottom {
    &>.gigs {align-items:flex-end;}
    .gigpic>img {height:auto;}
}
.giglist.align-top {
   &>.gigs { align-items:flex-start; }
  .gigpic>img{height:auto}
}
.giglist.align-base {
   &>.gigs{align-items:baseline;}
  .gigpic>img{height:auto}
}
.giglist.align-cover {
   .gigpic>img{
         object-fit:cover;
         height: var(--pic-height);
   }
}
.giglist.align-columns {
    .gigs {
        gap: 2%;
    }
    .gig>div {
        width:100%;
    }
    .gig>.gigpic>img {
        width:100%;
    }
    .gig {
        margin: 20px 0;
    }
}



.giglist .controls {
    text-align: right;
    position: fixed;
    bottom: 5px;
    right: 15px;
    background-color: transparent;
    z-index: 2000;
}

.giglist .controls>label,
.giglist button {
    padding: 6px;
    color: white;
    background-color: dodgerblue;
    border-radius: 5px;
    border: 0;
}

.giglist .controls>label *,
.giglist .controls>label {
    font-size: smaller;
    margin: 2px 2px 0 2px;
}

.giglist:not(.editing) .alignment-control {
    display:none;
}

.giglist button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    border: 1px solid blue;
    font-weight: bold;
}

.giglist.editing .gig-field {
    border: 1px solid grey;
}


.giglist.editing #editButton {
    border: 1px solid red;
    background-color: yellow;
    color: black;
}

.giglist:not(.editing) .unlessEditing {
    display: none;
}

.giglist.editing .prop-show {
    display: none;
}

.giglist.editing .prop-edit {
    display: block !important;
}

.prop-edit {
    font-size: small;
}

.giglist.edit-in-progress #editButton {
    background-color: red;
    color: pink;
}

.gig {
    background-color: white;
    color: black;
    overflow: hidden;
    position: relative;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px lightgray;
}

.gig input {
    border: 0;
}

.dtstart,
.dtend {
    width: 8em;
}



.gig>div {
    padding: 0 6px;
}

.gig-title {
    font-size: large;
}

.gig-dtinfo {
    width: 100%;
}

.gig.onedate .gig-dtend-group {
    opacity: 0.5;
}

.gig.onedate.recurs .gig-dtend-group::after {
    content: "forever";
    font-size: small
}

.gig.locallink .gig-bookinglink-group {
    opacity: 0.2;
}

.invalid-field {
    outline: 1px solid red;
}

span.show-info {
    text-wrap-mode: nowrap;
}

span.recurrence {
    font-size: small;
    text-wrap-mode: nowrap;
}

.venuebooking input {
    float: right;
}


.gig .bookbutton {
    float: right;
    background-color: black !important;
    border: 1px solid blue;
    color: white !important;
    border-radius: 2px;
    position: relative;
}

.gig .bookbutton::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    height: 10px;
    width: 10px;
    border-top: 1px solid white;
    border-right: 1px solid white;
}

.giglist.editing .bookbutton {
    display: none;
}

.gigpic {
    position:relative; 
    padding:0;
    margin-top: -1px;
}

.gigpic>img {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.gigpic>.overlay {
    position:absolute;
    top:0;
    left:0;
}

.gig-controls {
    position: absolute;
    top: 20px;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.delete-button {
    inset: 1px solid red;
}

.prop-edit>* {
    margin: 0 4px;
    padding: 4px;
}

pre {
    font-size: small;
}