.giglist {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.49;
}


.giglist {
    background-color: whitesmoke;
}

.giglist * {
    box-sizing: border-box;
}

.giglist>.gigs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
}

.giglist .controls {
    text-align: right;
    position: fixed;
    bottom: 5px;
    right: 15px;
    background-color: transparent;
    z-index: 2000;
}

.giglist button {
    padding: 6px;
    color: white;
    background-color: dodgerblue;
    border-radius: 5px;
    border: 0;
}

.giglist button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    border: 1px solid blue;
    font-weight: bold;
}

.giglist.editing .gig-field {
    border: 1px solid grey;
}


.giglist.editing #editButton {
    border: 1px solid red;
    background-color: yellow;
    color: black;
}

.giglist:not(.editing) .unlessEditing {
    display: none;
}

.giglist.editing .prop-show {
    display: none;
}

.giglist.editing .prop-edit {
    display: block !important;
}

.prop-edit {
    font-size: small;
}

.giglist.edit-in-progress #editButton {
    background-color: red;
    color: pink;
}

.gig {
    background-color: white;
    overflow: hidden;
    position:relative;
}

.gig input {
    border: 0;
}

.dtstart,
.dtend {
    width: 8em;
}



.gig>div {
    padding: 0 6px;
}

.gig-dtinfo {
    width: 100%;
}

.onedate .gig-dtend-group {
    opacity: 0.5;
}

.onedate.recurs .gig-dtend-group::after {
    content:"forever";
    font-size: small
}

.invalid-field {
    outline: 1px solid red;
}

span.show-info {
    text-wrap-mode: nowrap;
}

span.recurrence {
    font-size:small;
    text-wrap-mode: nowrap;
}

img.gigpic {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.gig-controls {
    position: absolute;
    top: 20px;
    right: 0;
    display: flex;
    justify-content: flex-end;
}
.delete-button {
    inset: 1px solid red;
}

.prop-edit>* {
    margin: 0 4px;
    padding: 4px;
}

pre {
    font-size: small;
}